<app-navbar></app-navbar>
<div class="content">
    <div>
        <h1>Liste des vols</h1>
        <nz-table [nzData]="flightsList">
            <thead>
                <th>Aéroport de départ</th>
                <th>Aéroport d'arrivé</th>
                <th>Prix</th>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flightsList">
                    <td>{{ _airportEnum[flight.from] }}</td>
                    <td>{{ _airportEnum[flight.to] }}</td>
                    <td>{{ flight.price }} €</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <button nz-button nzType="primary" nzShape="round" (click)="toResa()">Faire ma réservation</button>
</div>