<app-navbar></app-navbar>
<div class="content">
    <div>
        <h1>Faire ma réservation</h1>
        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="from">Départ</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <nz-select formControlName="from" class="select">
                        <nz-option *ngFor="let airport of airports" [nzValue]="airport" [nzLabel]="airport"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="book.to">Destination</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <nz-select formControlName="to" class="select">
                        <nz-option *ngFor="let airport of airports" [nzValue]="airport" [nzLabel]="airport"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Nom</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <input formControlName="lastName" nz-input placeholder="Nom de famille">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="this.book.first_name">Prénom</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <input formControlName="firstName" nz-input placeholder="Prénom">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Supplément Lounge</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <label nz-checkbox formControlName="loungeSupplement" [nzDisabled]="form.value.from == 'DTW'"></label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <!-- <nz-form-label [nzSpan]="6"></nz-form-label> -->
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" (click)="submitForm()">Réserver</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>