<app-navbar></app-navbar>
<div class="container">
    <div>
        <nz-table [nzData]="flightsList">
            <thead>
                <th>De</th>
                <th>A</th>
                <th>Prix</th>
            </thead>
            <tbody>
                <tr *ngFor="let flight of flightsList">
                    <td>{{flight.from}}</td>
                    <td>{{flight.to}}</td>
                    <td>{{flight.price}} €</td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div>
        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="from">Départ</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <nz-select formControlName="from" class="select">
                        <nz-option *ngFor="let airport of airports" [nzValue]="airport" [nzLabel]="airport"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="book.to">Destination</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <nz-select formControlName="to" class="select">
                        <nz-option *ngFor="let airport of airports" [nzValue]="airport" [nzLabel]="airport"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Nom</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <input formControlName="lastName" nz-input placeholder="Nom de famille">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="this.book.first_name">Prénom</nz-form-label>
                <nz-form-control [nzSpan]="4">
                    <input formControlName="firstName" nz-input placeholder="Prénom">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="4">
                    <label nz-checkbox formControlName="loungeSupplement">Supplément Lounge</label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="submitForm()">Réserver</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>