<app-navbar></app-navbar>
<div class="container">
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="from">Départ</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select>
                    <nz-option *ngFor="let airport of airports" [nzValue]="airport" [nzLabel]="airport"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="to">Destination</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select>
                    <nz-option *ngFor="let airport of airports" [nzValue]="airport" [nzLabel]="airport"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="date">Date</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-date-picker></nz-date-picker>
            </nz-form-control>
        </nz-form-item> -->
    </form>
</div>